<div *ngFor="let product of products" class="col">
    <div class="card shadow" style="width: 18rem;">
        <img src="https://samsungbr.vtexassets.com/arquivos/ids/331116/black-13.jpg?v=637873967324130000" class="card-img-top">
        <div class="card-body">
            <p class="product-name fw-bold">Smartphone Samsung Galaxy S22 Ultra</p>
            <p class="product-price fs-5 fw-bold text-success">R$ 4.299,99</p>
            <a [routerLink]="['details/1']" class="btn btn-primary">Detalhes</a>
        </div>
    </div>
</div>