<div *ngFor="let product of products" class="card-group">
    <div class="card shadow">
        <img [src]="product.imagens[0]?.dir" class="card-img-top">
        <div class="card-body d-flex flex-column">
            <p class="product-name fw-bold">{{ product.nome }}</p>
            <p class="mt-auto product-price fs-5 fw-bold text-success">{{ product.valor | currency:'BRL':'symbol':'1.2-2':'pt' }}</p>
        </div>
        <div class="card-footer">
            <a [routerLink]="['details/' + product.id]" class="btn btn-primary">Detalhes</a>
        </div>
    </div>
</div>