/* You can add global styles to this file, and also import other style files */
/* .main-container {
    margin-top: 58px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
} */