.product-name > a {
    text-decoration: none;
    color: #000;
}

.product-name > a:hover {
    transition: .3s;
    color: #0D6EFD;
}

.product-quantity-price > p {
    margin-bottom: 0;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
