<nav class="navbar navbar-expand-lg bg-success fixed-top">
    <div class="container-fluid">
        <div class="logo">
            <a class="navbar-brand text-white" [routerLink]="['/home']">
                <img src="../../../assets/ic_shopping_cart_128px.png" width="30" height="30" class="d-inline-block align-top" alt="">
                E-Buy
            </a>
        </div>

        <div class="interactivity d-flex justify-content-end flex-grow-1">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <form class="d-flex col-lg-6 col-md-12 col-sm-12 my-0 mx-auto ng" [formGroup]="formSearch" (ngSubmit)="search()" role="search">
                    <input class="form-control me-2" type="search" placeholder="Busque um produto" formControlName="query" aria-label="Search">
                    <button class="btn btn-outline-light">Buscar</button>
                </form>
    
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="['/products']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
                            Produtos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="['/cart']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                            Carrinho
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="!isLogged">
                        <a class="nav-link text-white" [routerLink]="['/auth']">
                            Login
                        </a>
                    </li>

                    <li class="nav-item dropdown" *ngIf="isLogged">
                        <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Minha conta
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" style="cursor: pointer;" [routerLink]="['/orders/my-orders']">Pedidos</a></li>
                            <li><a class="dropdown-item" style="cursor: pointer;" (click)="logout()" >Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
