.button-arrow {
    font-size: 1.6rem;
}

.product-image-list {
    margin: 0;
    padding: 0;
}

.button-arrow.fa-arrow-up {
    margin-bottom: 10px;
}

.button-arrow.fa-arrow-down {
    margin-top: 10px;
}

.img-option {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.img-option + .img-option {
    margin-top: 10px;
}

.img-button {
    padding: 1px;
    width: 60px;
    height: 60px;
}

.img-expand > img {
    margin-left: 25px;
    width: 400px;
    height: 400px;
    border: 1px solid grey;
    border-radius: 5px;
}

.content {
    margin-left: 40px;
}