<app-top-menu></app-top-menu>
<div class="main-container container">
    <h2 class="fs-3 my-4">Detalhes do produto</h2>

    <div class="d-flex">
        <app-vertical-slider [images]="product.imagens"></app-vertical-slider>

        <div class="content d-flex flex-column justify-content-between">
            <div class="product-info">
                <h3 class="fs-4">{{ product.nome }}</h3>
                <p class="brand-name">Fabricante: <a [routerLink]="['/products']" [queryParams]="{ 'marca.id': product.marca.id }">{{ product.marca.nome }}</a></p>
                <p class="product-description">{{ product.descricao }}</p>
            </div>

            <p class="product-price">Por apenas:<br><span class="fs-4 fw-bold">{{ product.valor | currency:'BRL':'symbol':'1.2-2':'pt' }}</span></p>

            <div class="product-value">
                <div class="d-flex justify-content-between">
                    <div class="quantity-field">
                        <label for="quantity">Quantidade:</label>
                        <input 
                            class="form-control" 
                            type="number" 
                            name="quantity" 
                            id="txtQuantity" 
                            max="9999" 
                            min="1" 
                            maxlength="4" 
                            value="1"
                            [(ngModel)]="quantity"
                        >
                    </div>
    
                    <button class="btn btn-primary" type="button" (click)="addProductInCart()">
                        <i class="fa-solid fa-cart-shopping"></i>
                        Adicionar ao carrinho
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
