.extern {
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    align-self: flex-start;
  }
  
  .intern {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }
  
  .searchbox {
    margin: 0 auto;
  }
  
  .nav {
    align-self: flex-end;
  }
  
  
  /* for demo only */
  ul { padding: 0; margin: 0; list-style: none; }
  li { padding: 5px; background: #aaa; }
  p  { text-align: center; }
  